        body .x-panel {
            margin-bottom:20px;
        }
        .icon-grid {
            background-image:url(resources/extjs/icons/fam/grid.png) !important;
        }
        #button-grid .x-panel-body {
            border:1px solid #99bbe8;
            border-top:0 none;
        }
        .add {
            background-image:url(resources/extjs/icons/fam/add.gif) !important;
        }
        .option {
            background-image:url(resources/extjs/icons/fam/plugin.gif) !important;
        }
        .remove {
            background-image:url(resources/extjs/icons/fam/delete.gif) !important;
        }
        .save {
            background-image:url(resources/extjs/icons/save.gif) !important;
        }

